<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/login-head %>
</head>
<body>
    <div id="container">
        <form id="login-box">
            
            <input id="username" type="text" placeholder="Username" autocomplete="username">
            <input id="password" type="password" placeholder="Password" autocomplete="current-password">
            <button id="submit">Join</button>

        </form>
    </div>

    <script src="/scripts/login.js"></script>
</body>
</html>